.signCard {
  background: rgba(255, 255, 255, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
}

.landingBg {
  @apply h-screen flex justify-end items-center px-5 md:px-10 lg:px-20;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../Assets/Images/fullBg.png");
}

.social_wrap img {
  @apply h-10 cursor-pointer hover:shadow-md transition ease-in duration-200;
}
