/* to remove the backgroud of list items */

.MuiMenu-paper{
    background: none !important;
}
.MuiList-root{
    background: none !important;

}
/* to remove the backgroud of list items */
.employee-profile-table {
    @apply w-full text-center text-accent;
}

.employee-profile-table tr{
  background: var(--card);
  border-bottom: 5px solid var(--background);
}

.employee-profile-table td {
    @apply text-sm
}

.employee-profile-table th, .employee-profile-table td {
    padding: 10px;

}
/* to adjust stepper */
.MuiStepIcon-root.Mui-active {
    color: #fff !important;
}
.MuiStepIcon-text{
    fill: var(--caramel) !important;
}
/* to adjust stepper - make this better later */



.addEmployee_form label {
    @apply block text-sm font-medium pb-1 text-accent;
  }
  .addEmployee_form input,
  .addEmployee_form select {
    @apply w-full rounded py-2 focus:outline-none px-2 text-sm;
    background: var(--background);
  }

  .addEmployee_form select {
      @apply text-slate-400;
  }