@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --background: #ffffff;
  --text-color: #252526;
  --caramel: #ff6647;
  --faded: rgb(255, 102, 71, .5);
  --card: #f6f7fb;
  --accent: #3a3a3a;
  --sideBar: #f6f7fb;
  --sideBarIcon: #ffffff;
  --scrollBg: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --background: #000000;
  --text-color: #ffffff;
  --card: #28282b;
  --accent: rgba(247, 249, 252, 0.7);
  --sideBar: #121212;
  --sideBarIcon: #28282b;
  --scrollBg: #808080;
}

[color-theme="orange"] {
  --caramel: #d69a00;
}

[color-theme="green"] {
  --caramel: #01966b;
}

[color-theme="blue"] {
  --caramel: #349ce4;
}

[color-theme="purple"] {
  --caramel: #6e55ff;
}

[color-theme="orange"] {
  --faded: rgb(255, 102, 71, .5);
}

[color-theme="green"] {
  --faded: rgb(1,150,107, .5);
}

[color-theme="blue"] {
  --faded: rgb(52,156,228, .5);
}

[color-theme="purple"] {
  --faded: rgb(110,85,255, .5);
}

html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

body {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

.mode_color {
  background-color: var(--background);
  color: var(--text-color);
  transition: all 0.5s;
}

.Container {
  @apply container w-full mx-auto md:px-6 lg:px-12 px-5;
}

/*=== General button ===*/
.button {
  @apply border border-caramel rounded font-medium bg-caramel text-white transition ease-in-out duration-300 text-sm tracking-wider hover:opacity-70;
  padding: 6px 8.5px;
}

.transparentButton {
  @apply border border-slate-400 hover:border-slate-800 rounded font-medium bg-transparent text-accent transition ease-in-out duration-500 text-sm tracking-wider;
  padding: 6px 8.5px;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

/*=== General scroll bar ===*/
.scrollBar::-webkit-scrollbar {
  width: 8px;
}

.scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--scrollBg);
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--scrollBg);
}

/*=== General modal style ===*/
.CModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--card);
  padding: 15px 25px 25px 25px;
  border-radius: 10px;
  width: 90%;
}

/* step */
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: var(--caramel) !important;
  width: 90%
}
  
/* ==== Custom Dropdown Menu ==== */
.custom-dropdown:hover .dropdown-menu {
  display: block;
}


/* whatsApp icon button  */
#wa-widget-send-button{
  display: none !important;
}

